body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    margin: 40px 0px 0px 100px;
}

#typeAhead {
    padding:10px;
    height: 250px;
}

table {
    border: none;
}

td {
    padding: 0px 5px 0px 5px;
}

input {
    line-height: 38px;
    height: 38px;
    padding: 0 10px;
    font-size: 20px;
}

.countryRow.selected, .countryRow.selected:hover {
    color: green;
    font-weight: bold;
}

.countryRow:hover {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}